<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.Toast.toastmasters">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".rolehelper"
            android:label="@string/title_activity_rolehelper"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".meetings"
            android:label="@string/title_activity_meetings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pathways"
            android:label="@string/title_activity_pathways"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".toastest"
            android:label="@string/title_activity_toastest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".rolesignup"
            android:label="@string/title_activity_rolesignup"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".officialspage"
            android:label="@string/title_activity_officialspage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".roles"
            android:label="@string/title_activity_roles"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AchievementsPage"
            android:label="@string/title_activity_achievements_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>